chr1.snp.raw.HARD.Missing-unphasing.ID.allele2_retain.hard_retain.InbreedingCoeff_retain.ann.vcf.gz
chr1.snp.raw.HARD.Missing-unphasing.ID.allele2_retain.hard_retain.InbreedingCoeff_retain.ann.vcf.gz.csi
JI0082.deduped.cram
JI0082.deduped.cram.crai
JI0323.deduped.cram
JI0323.deduped.cram.crai
JI0466.deduped.cram
JI0466.deduped.cram.crai
JI1491.deduped.cram
JI1491.deduped.cram.crai
JI1794.deduped.cram
JI1794.deduped.cram.crai
JI2174.deduped.cram
JI2174.deduped.cram.crai
